@font-face {
    font-family: 'Amor';
    src: url('fontes/Cheerful\ Holiday.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

    /* Tipos de formato */
     /*  - opentype (otf)
         - truetype (ttf)
         - embedded-opentype
         - truetype-aat
         - svg
                             */


}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Amor', 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: normal;
    
}