@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Short+Stack&display=swap');

main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #5b9b9295;
    padding: 20px;
    box-shadow: #365c575d 10px;
    border-radius: 10px;
    
}

body {
    background-image: linear-gradient(-90deg, #9AEBA3, #DAFDBA) ;
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    color: #012b3f;
    font-size: 3em;
    text-align: center;
}

h2 {
    color: #13678A;
    text-align: center;
}

p {
    color: #276e64;
}

ul {
    color: #276e64;
}